.box {
    position:relative;
    display:inline-block;
    box-shadow:3px 3px orange;
    margin: 10px;
    background-color:lightgoldenrodyellow;

}
.button {
    position:absolute;
    right:0;
    font-size:16px;
    font-weight:bold;
    text-align: center;
    color:white;
    border: 2px solid red;
    background-color:lightcoral;
    width: 35px;
    height: 35px;
}

.name {
    position:absolute;
    top:260px;
    left:15px;
    background-color:orange;
    font-weight:bold;
    color:white;
    padding:5px
}

.status {
    font-weight:bold;
    color:white;
    background-color:green;
}

.origin {
    text-decoration: none;
    color: black;
    font-weight:bold;
    font-style:oblique;
    margin-top:10px;
    width:100%;
}

.species {
    text-decoration: none;
    color: black;
    font-weight:bold;
    float:right;
    margin-right:10px;
}

.gender {
    text-decoration: none;
    color: black;
    font-weight:bold;
    float:left;
    margin-left:10px;
}